.app {
    min-height: 100vh;
    text-align: center;
    background-image: url("../common/assets/images/weatherMount.jpg");
    background-position: center;
    background-size: cover;
    color: #e5e5e5;
}

.Cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 40px;
    padding: 50px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}


